.letters-container {
  display: flex;
  justify-items: space-between;
  flex-wrap: wrap;
}

.digits {
  list-style-type: none;
  display: inline;
  border: solid 3px lightgray;
  padding: 0.8rem;
  margin: 0.5rem;
}

.title,
.subtitle {
  text-align: center;
}
