@font-face {
  font-family: hangman;
  src: url(./hangman.otf);
}

body {
  font-family: hangman;
  font-size: 2rem;
}

.letters-container {
  display: flex;
  justify-items: space-between;
  flex-wrap: wrap;
}

.digits {
  list-style-type: none;
  display: inline;
  border: solid 3px lightgray;
  padding: 0.8rem;
  margin: 0.5rem;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
}
