@font-face {
  font-family: hangman;
  src: url(./hangman.otf);
}

body {
  font-family: hangman;
  font-size: 2rem;
}

.digits {
  list-style-type: none;
  display: inline;
  border: solid 3px lightgray;
  padding: 0.8rem;
  margin: 0.5rem;
  font-size: 1rem;
}

.subtitle {
  font-size: 1.5rem;
}

.App {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main-rope {
  height: 17rem;
  width: auto;
  margin: 3rem;
}
